

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.color-box{
    width:200px;
    height: 100px;
    background-color: black;
    border-width: 2px;
}
#change-color-btn{
    width:200px;
    height: 50px;
    border-radius: 20px;
    border-width:2px solid yellow;
    background-color: palevioletred;
}
#change-color-btn:hover{
    background-color: antiquewhite;
    cursor: pointer;
}